.mainheader{
    background-color:darkgreen;
    color:white;
    padding:5px 10px;
}

h2, h1{
    font-family:monospace;

}


.footer{
    background-color:darkgreen;
    padding:7px;
    clear:both;
    color:white;

}